.pull-quote {
  padding: 2rem 0;
  margin: 2rem 0;
  border-left: 3px solid var(--color-accent);
  padding-left: 2rem;
}

.pull-quote--center {
  text-align: center;
  border-left: none;
  padding-left: 0;
}

.pull-quote--right {
  text-align: right;
}

.pull-quote__text {
  font-family: var(--font-display);
  font-size: var(--text-subhead);
  font-style: italic;
  line-height: var(--line-loose);
  color: var(--color-text-primary);
  margin: 0;
}

.pull-quote__attribution {
  font-family: var(--font-body);
  font-size: var(--text-byline);
  font-style: normal;
  margin-top: 1rem;
  color: var(--color-text-primary);
  opacity: 0.8;
}
