.pull-quote {
  padding: 2rem 0; /* TODO: Pull quote vertical padding */
  margin: 2rem 0; /* TODO: Pull quote vertical margin */
  border-left: 3px solid var(--color-accent); /* TODO: Left border style */
  padding-left: 2rem; /* TODO: Left padding */
}

.pull-quote-center {
  text-align: center;
  border-left: none;
  padding-left: 0;
}

.pull-quote-right {
  text-align: right;
}

.pull-quote-text {
  font-family: var(--font-display);
  font-size: var(--text-subhead);
  font-style: italic;
  line-height: var(--line-loose);
  color: var(--color-text-primary);
  margin: 0;
}

.pull-quote-attribution {
  font-family: var(--font-body);
  font-size: var(--text-byline);
  font-style: normal;
  margin-top: 1rem; /* TODO: Attribution top margin */
  color: var(--color-text-primary);
  opacity: 0.8; /* TODO: Attribution opacity */
}
