.rotated-text {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  white-space: nowrap;
}

.rotated-text__label {
  color: var(--color-text-primary);
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.05em;
}

* {
    overflow-x: hidden;
    scrollbar-width: none;
}